.main-showcase{
    min-height: 250px;
    padding:100px;
    margin:20px;
}

.showcase h1 {
    text-align:center;
    font-size:60px;
}

.content p{
    text-align:center;
    font-size:38px;
}

img{
    width:25%;
}

.flex-container{
    display:flex;
    padding:0 80px 0 80px;
    margin:0 5px 0 5px;
}

/*Main body*/
.main-content{
    padding:90px;
}

.mainbody{
    min-height:250px;
}

.mainbody img{
    float:right;
    width:25%;
    padding-top:5px;
    margin-bottom:.2em;
}

.mainbody p{
    font-size:15px;
}

.mainbody button{
    padding:10px;
    text-decoration: none;
    background-color:rgb(66, 125, 214);
    border:1px;
    border-radius: 20px;
}

.mainbody button a{
    color:white;
    font-size:15px;
}

.mainbody button:hover{
    background-color: gray;
}

/*Blog body*/
.blogmain {
    padding:35px;
    min-height: 100px;
}

.blogmain img{
    margin-right:150px;
    float:left;
    width:25%;
    padding-left:45px;
}

.blogmain p{
    padding-right:35px;
    font-size:15px;
    margin:10px;
}

.blogmain button{
    padding:10px;
    float:left;
    background-color:rgb(66, 125, 214);
    text-decoration: none;
    border:1px;
    border-radius: 15px;
}

.blogmain button a{
    color:white;
    font-size:15px;
}

.blogmain button:hover{
    background-color: gray;
}